/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
 */
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

:root.theme-dark {
  --text-color: #f1b2ce;
  --accent-bg-color: #ff0070;
  --accent-text-color: #ff0070;
  --accent-text-color-tr: #ff006f66;
  --header-text-color: #000028;
  --name-color: #db00ff;
}

.page.theme_dark {
  --text-color: #f1b2ce;
  --accent-bg-color: #ff0070;
  --accent-text-color: #ff0070;
  --accent-text-color-tr: #ff006f66;
  --header-text-color: #000028;
  --name-color: #db00ff;
}
