/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
root.theme_light {
  --accent-bg-color: #ff8dcb;
  --text-color: #353430;
  --accent-text-color: #353430;
  --header-text-color: #353430;
  --name-color: #ffc2e6;
}

.page.theme_light {
  --accent-bg-color: #ff8dcb;
  --text-color: #353430;
  --accent-text-color: #353430;
  --header-text-color: #353430;
  --name-color: #ffc2e6;
  background: url("/images/cover-image-light.png");
}

.page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя*/

/* .background_text_header {
  background-color: var(--accent-bg-color);
  color: var(--text-color);
} */

/* .header__theme-menu-button:default {
  font-family: "IBM Plex mono", Arial, Helvetica, sans-serif;
  width: 70px;
  font-size: 18px;
  line-height: 18px;
  color: #353430;
  text-transform: lowercase;
  border: solid 1px #353430;
  outline: solid 1px #353430;
  padding-left: 8px;
  padding-bottom: 5.5px;
} */

.rec::before {
  visibility: hidden;
}

.rec::after {
  visibility: hidden;
}
/* 
@media (prefers-color-scheme: light) {
  root.theme_light {
    --accent-bg-color: #ff8dcb;
    --text-color: #353430;
    --accent-text-color: #353430;
    --header-text-color: #353430;
    --name-color: #ffc2e6;
    background: url("/images/cover-image-light.png");
    background-attachment: fixed;
  }

  .page.theme_light {
    --accent-bg-color: #ff8dcb;
    --text-color: #353430;
    --accent-text-color: #353430;
    --header-text-color: #353430;
    --name-color: #ffc2e6;
    background: url("/images/cover-image-light.png");
    background-attachment: fixed;
  }

  /* сохраните этот селектор в приведённом виде.
        Так стили написанные ниже будут иметь больший вес,
        чем стили в медиазапросе предпочтений пользователя*/
/* 
  .header__theme-menu-button:default {
    font-family: "IBM Plex mono", Arial, Helvetica, sans-serif;
    width: 70px;
    font-size: 18px;
    line-height: 18px;
    color: #353430;
    text-transform: lowercase;
    border: solid 1px #353430;
    outline: solid 1px #353430;
    padding-left: 8px;
    padding-bottom: 5.5px;
  }

  .rec::before {
    visibility: hidden;
  }

  .rec::after {
    visibility: hidden;
  }
} */
