/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #f1b2ce;
  --accent-bg-color: #ff0070;
  --accent-text-color: #ff0070;
  --accent-text-color-tr: #ff006f66;
  --header-text-color: #000028;
  --name-color: #db00ff;
}
